<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= link_to 'Log out', 'users/sign_out', method: :delete %>
<% else %>
  <%= link_to 'Log in', 'users/sign_in' %>
<% end %>
