.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.booking-card {
  border-radius: 5px;
  background: rgba(255, 246, 246, 0.7);
  padding: 10px;
  position: relative;
  // height: 230px;
  margin: 10px auto 15px auto;
}

.booking-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.booking-card-info {
  font-size: 16px !important;
  margin-top: 5px;
}

.booking-text {
  font-family: 'Poppins';
  padding-right: 20px;
  padding-left: 20px;
}

.buttons {
  padding: 5px 20px;
}

.btn-outline-success {
  border: 1px solid;
  border-radius: 20px;
  padding: 8px 40px;
}

#cardhome {
  padding-top: 150px;
  padding-bottom: 100px;
  gap: 60px;
}

#singlecard{
  border: 2px white;
  border-radius: 10px;
  background-color: whitesmoke;
  text-align: center;
  gap: 2px;
}

.singleimg {
  border-radius: 10px;
  box-shadow: 0px 2px 0px rgba(129, 129, 129, 0.2);;
  max-height: 160px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-product img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

#img-show {
  border-radius: 10px;
  z-index: 1;
  box-shadow: 1px 1px 10px grey;
}

#container-show {
  background: linear-gradient(134.87deg, #52e5e7 -20%, #130cb7 109.89%);
  color: #fff !important;
  border-radius: 10px;
}

#btn-show {
  background: linear-gradient(134.87deg, #52e5e7 -20%, #130cb7 109.89%);
  transition: ease 0.3s;
  opacity: 0.9;
  border: none;
}

#btn-show:hover {
  background: linear-gradient(134.87deg, #52e5e7 -30%, #130cb7 100.89%);
  color: white;
  opacity: 1;
  padding: 10px 80px;
}

#btn-index {
  background: linear-gradient(134.87deg, #52e5e7 -20%, #130cb7 109.89%);
  transition: ease 0.3s;
  opacity: 0.9;
  padding: 10px 50px;
  border: none;
}

#btn-index:hover {
  background: linear-gradient(134.87deg, #4ce7ea -30%, #130cb7 109.89%);
  color: white;
  opacity: 1;
  padding: 10px 50px;
}
