.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 246, 246, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 0px 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: white !important;
  font-family: 'Poppins';
  font-size: 17px;
}

.nav-link:hover {
  color: black !important;
  margin-bottom: 1px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navimg {
  z-index: 1;
}

// .navbar-lewagon:before {
//   height: 100%;
//   width: 100%;

//   filter: blur(1px);
//   z-index: 2;
//   content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }
