<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.input :comment, as: :text %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>
